.article-enter {
    opacity: 0.01;

}

.article-enter-active {
    opacity: 1;
    transition: background 500ms ease-in;
    background: red;
}

.article-leave {
    opacity: 1;
}

.article-leave.article-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

h3, h2 {
color:red;
}

