input{
    display: block;
    width: 150px;
    margin-bottom: 20px;
}


.form-input__error {
    border-color: red;
}

label {
    opacity:0;
    color:red;
    font-size:12px;
}

label.error{
    opacity:1;
}